In [1]:
import sys
sys.path.append('.')
sys.path.append('..')

import pandas as pd
import os
import numpy as np
from sklearn.metrics import root_mean_squared_error, mean_absolute_error, r2_score, confusion_matrix, cohen_kappa_score, accuracy_score, f1_score, precision_score, recall_score, classification_report
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.colors import LinearSegmentedColormap
from src.utils import helper
from src import constants as const
import torch
import glob
import os
import shutil

In [7]:
root_data = r"C:\Users\esthe\Documents\GitHub\classification_models\data\training"
level = const.HIERARCHICAL
metadata_path = os.path.join(root_data, "V1_0", "metadata")
annotations_file = "streetSurfaceVis_v1_0.csv"

In [14]:
df = pd.read_csv(os.path.join(metadata_path, annotations_file))

In [ ]:
# Separate counts for 'True' and 'False' in the 'train' column
true_result = df[df['train'] == True].groupby(['surface_type', 'surface_quality']).size().reset_index(name='count')
false_result = df[df['train'] == False].groupby(['surface_type', 'surface_quality']).size().reset_index(name='count')

# Display the results

ModuleNotFoundError: No module named 'ace_tools'

In [16]:
true_result

     surface_type surface_quality  count
0         asphalt             bad    238
1         asphalt       excellent    791
2         asphalt            good   1407
3         asphalt    intermediate    768
4        concrete             bad     58
5        concrete       excellent    310
6        concrete            good    340
7        concrete    intermediate    248
8   paving_stones             bad     70
9   paving_stones       excellent    360
10  paving_stones            good    989
11  paving_stones    intermediate    505
12           sett             bad    526
13           sett            good    128
14           sett    intermediate    677
15        unpaved             bad    339
16        unpaved    intermediate    305
17        unpaved        very_bad    287

In [ ]:
# Assuming the DataFrame with the shared data is named `df`

# Group by 'surface_type' and sum the 'count' column
surface_type_totals_train = true_result.groupby('surface_type')['count'].sum().reset_index(name='total_count')
surface_type_totals_train

    surface_type  total_count
0        asphalt         3204
1       concrete          956
2  paving_stones         1924
3           sett         1331
4        unpaved          931

In [17]:
false_result

     surface_type surface_quality  count
0         asphalt             bad      8
1         asphalt       excellent    180
2         asphalt            good    289
3         asphalt    intermediate     53
4        concrete       excellent      4
5        concrete            good     10
6        concrete    intermediate      2
7   paving_stones       excellent     25
8   paving_stones            good     74
9   paving_stones    intermediate     14
10           sett             bad     14
11           sett            good      1
12           sett    intermediate     17
13        unpaved             bad     48
14        unpaved    intermediate     21
15        unpaved        very_bad     16

In [20]:
surface_type_totals_test = false_result.groupby('surface_type')['count'].sum().reset_index(name='total_count')
surface_type_totals_test

    surface_type  total_count
0        asphalt          530
1       concrete           16
2  paving_stones          113
3           sett           32
4        unpaved           85